.contact {
  display: inline-block;
  transition: transform 250ms ease-out;
}

.contact-name {
  text-decoration: none;
  display: inline-block;
  background-color: black;
  color: white;
  height: 40px;
  width: 300px;
  margin: 25px 50px 0px 50px;
  padding-top: 5px;
  text-align: center;
  font-size: medium;
  box-shadow: 2px 2px 5px 1px #888888;
  cursor: pointer;
}
.contact-info {
  background-color: white;
  color: black;
  height: 80px;
  width: 300px;
  margin: 0px 50px 10px 50px;
  padding-top: 15px;
  text-align: center;
  font-size: 13px;
  box-shadow: 2px 2px 5px 1px #888888;
}