.input {
  display: flex;
  align-items: center;
}

.input input {
  margin-top: 1.5rem;
  margin-left: 2rem;
  width: 28rem;
  border-radius: 5px;
  border: 1px solid #2a2828;
  font: inherit;
  padding: 0.5rem 0 0.5rem 0.7rem;
}