.input {
  display: flex;
  align-items: center;
}

.input input {
  margin: 0.5rem 1rem;
  width: 20rem;
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid #2a2828;
  font: inherit;
  padding: 0.5rem 0 0.5rem 0.7rem;
}