.container{
  margin-top: 3rem;
}

.title {
  font-size: 40px;
  font-weight: 600;
  cursor: pointer;
  transition: color 200ms ease-out;
}
.underline-contacts {
  content: "";
  height: 3px;
  width: 10%;
  background-color: red;
  margin-left: 45%;
}
.filter-table {
  font-size: 30px;
  margin-top: 10px;
  padding-left: 35%;
  font-weight: 400;
  visibility: visible;
  display: flex;
}
.filter-element {
  margin-right: 3rem;
  cursor: pointer;
  transition: color 200ms ease-out;
}

.title:hover, .filter-element:hover {
  color: red;
}
